fastapi
uvicorn
python-dotenv

langchain
langchain-community
langchain-huggingface
langchain-deepseek
nest_asyncio

sentence-transformers
transformers
torch==2.2.0
pypdfium2
psycopg2-binary
pgvector
pydantic
langdetect
supabase
tqdm
numpy
psutil